.footer-container {
    position: relative;
    bottom: 0;
}

.course-list {
    /* margin-left: 15vw; */
    text-align: center;
}

ul {
    display: inline-block;
    margin: 1em;
    /* margin: 0;
    padding: 0; */
}
  
li {
    margin: 1em;
/* display: list-item;
text-align: left;
margin-left: 1.5em; */
}

table {
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 16px;
    font-family: Arial, sans-serif;
    width: 80%;
    max-width: 800px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #33315D;
    color: white;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }

/* Navbar Breakpoint - Switch to condensed navbar*/
@media (max-width: 980px){
  .innerWhiteBox {
      /* width: 80%; */
      min-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
}