.col:hover {
    /* box-shadow: 0 0 15px rgba(33,33,33,.6);  */
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 

}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    position: sticky;
    z-index: 999999;
    top: 0;
    margin-top: -1px;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }


.innerWhiteBox {
    /* margin-bottom: -20vh !important; */
    background-color: #110F34;
    color: white;
}

.footer-container {
    position: relative;
    bottom: 0;
}

#page-container {
    position: relative;
    height: 100vh;
}
  
#content-wrap {
    padding-bottom: 4rem;    /* Footer height */
}


.container {
    /* background-color: rgb(197, 184, 209);  */
    min-height: 500px;
    max-width: 1224px;
    margin: 0 auto; /*top bottom   left right */
    margin-top: -5vh;
    display: flex; /*get inline*/
    flex-wrap: wrap; /*wrap to next line if not enough space */
    justify-content: space-between;
    /* padding-top: 90px; margin bottom + min height 50 + 40 */
    text-align: center;
    /* background-image: url(images/gallery.svg);
    background-color: #b000b9;
    background-repeat: no-repeat; */
    /* background-position: 0 top; */
    /* background-size: 100%; */
    /* overflow: visible; */
    width: 100%;
}

.about-text {
    /* background-color: green; */
}

.col {
    /*min-height: 200px;*/
    margin: 20px;

    width: 30%;
    margin-bottom: 4vh;
    background-color: rgb(255, 255, 255);
}

.col img {
    margin-top: 0.5em;
}

.col .about-text {
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 1.22em; */
    line-height: 1.5em;
}
.col h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;

}

.col h2, p {
    text-align: left;
    /* background-color: rgb(0, 0, 0);
    color: white; */
}

.footer-container h2, p {
    text-align: center;
}

.col h1 {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 1.75em;
    padding-top: 1.1vh;    
    padding-bottom: 1.1vh;

    width: 100%;
    /* margin: 0; */
}


.col h1, img {
    /* background-color: #110F34; */
    color: white;
}

.container img {
    width: 300px;
    height: 300px;
    margin-top: 12px;
    /* margin: 10px; */
}

/* Create the blue top headers for each of the Fellows' names */
.col {
    /* background-color: aquamarine !important; */
    /* background: linear-gradient(to top, white 94.5%, #110F34 5.5%) !important; */
    background: linear-gradient(to top, white calc(100% - 45px), #110F34 45px) !important;

}


.col img:hover {
    /* background-color: white; */
    /* filter: blur(5px);
    filter: brightness(0.4);
    filter: contrast(200%);
    filter: drop-shadow(16px 16px 20px blue);
    filter: grayscale(50%);
    filter: hue-rotate(90deg);
    filter: invert(75%);
    filter: opacity(25%);
    filter: saturate(30%);
    filter: sepia(60%); */
    /* background: rgba(255, 255, 255, 0.5); */


    /* opacity: 0.5;
    transition: background .3s linear; */
}


/*Tablet View*/
@media (max-width: 768px){
    .col {
        width: 47% /*width that allows for 2 boxes in a row*/
    }

    .hide-desktop-only {
        display: block;
    }

    /* simple css only change layout for mobile */
    /* header {                     for other style of site
        display: block;
        text-align: center;
    } */

    #social-media {
        margin: 0 auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

/*Mobile View*/
@media (max-width: 400px){
    .col {
        width: 100%
    }

    .hide-mobile-only {
        display: none;
    }

    /* .mob-wrapper {
        display: block; 
    } */
}

