.footer-container {
    position: absolute;
    bottom: 0;
}

#map-header {
    text-align: center;
    margin-bottom: 12px;
}
  
ul {
    list-style: none;
}
  
a {
    text-decoration: none;
    color: #333333;
}

li {
    padding-top: 20px;
    text-align: center;
    /* margin-left: 10vw; */
    /* list-style-type: disc; */
}

.innerWhiteBox {
    padding-bottom: 50px;
}

a:hover {
    text-decoration: underline;
}

/* Navbar Breakpoint - Switch to condensed navbar*/
@media (max-width: 980px){
    .innerWhiteBox {
        /* width: 80%; */
        min-width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
}