body{
  /* width: 100%;
  height: 95vh; */
  /* overflow: hidden; */
}

#learnMoreContainer {
  position: relative;
  background-color: black;
  color: white;
  width: 250px;
  height: 46px;
  left: 1210px;
/* top: 924px; */

  background: #000000;
  border-radius: 15px;

}

#learnMoreContainer h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 30px;

}

#mission {
  position: relative;

  width: 1220px;
  height: 289px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 50px;
  color: #000000;
  margin: auto;
  padding-top: 20px;
}

#mission strong {
  font-size: 28px;

}

#missionLabel {
  position: absolute;
  margin-left: -45px;
  margin-top: 5px;
}

#TRACheader{
  position: relative;
  width: 100%;
  height: 77px;
  background: #EEEEEE;
}

#TRACheader h1{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 32px;
  line-height: 65px;  
  color: #000000;
  padding-left: 40px;
}

#galleryContainer {

}

#imageGallery {
  height: 50vh;
  width: 50vw;
}

#logo {
  position: relative;
  width: 13em;
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-right: 10px;
}

#logoText {
  font-size: 1.65em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  /* margin-right: 850px; */
  padding-top: 40px;
  z-index: 10000000;
}

.search-container {
  position: absolute;
  right: 40px;
  top: 25px;
}

.search-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 20px;
  /* border: none; */

  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
  margin-right: -40px;
}

.search-container input:focus {
  /* border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; */
}

.search-container button {
  /* magnifying glass */
  /* float: right; */
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  /* background: #ddd; */
  background: transparent; 
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  /* background: #EEEEEE; */
}

#socialmedia {
  position: absolute;
  float:right;
  top: 10px;
  right:60px;
  padding: 0px;
}

#socialmedia img{
  width: 1.85em;
  padding: 5px;
  z-index: 10000000000;
}


.header-container {
    background: #EEEEEE;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    min-height: 50px;
    /* margin-bottom: 40px; */
    /* Make header stick */
    width: 100%;
    z-index: 99999999999;
    position: relative; /*Make it come out of the flow, no longer blocking*/
    margin-top:20px;
    font-family: Arial, Helvetica, sans-serif;

  }
  
  header {
    


    position: relative; /*Make it come out of the flow, no longer blocking*/
    width: 1200px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

  }
  
  .mybutton {
    position: relative;
    padding: 10px 40px;
    /* margin-left: 70px; */
    font-size: 20px;
    display: inline-block;
  }
  
  .mybutton a {
    color: rgb(0, 0, 0);
    text-decoration: none; 
  }

  .mybutton a:hover{
    text-decoration: underline; 
  }
  

