#imageGallery {
  height: 50px;
}

#logo {
  position: relative;
  width: 15em;
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-right: 10px;
}

#logoText {
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  /* margin-right: 850px; */
  padding-top: 58px;
  z-index: 10000000;
}

.search-container {
  position: fixed;
  right: 40px;
  top: 65px;
}

.search-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 25px;
  /* border: none; */

  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
  margin-right: -40px;
}

.search-container input:focus {
  /* border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; */
}

.search-container button {
  /* magnifying glass */
  /* float: right; */
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  /* background: #ddd; */
  background: transparent; 
  font-size: 25px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  /* background: #EEEEEE; */
}

#socialmedia {
  position: absolute;
  float:right;
  top: 10px;
  right:60px;
  padding: 0px;
}

#socialmedia img{
  width: 1.75em;
  padding: 5px;
}


.header-container {
    background: #EEEEEE;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    min-height: 50px;
    /* margin-bottom: 40px; */
    /* Make header stick */
    width: 100%;
    z-index: 99999999999;
    position: relative; /*Make it come out of the flow, no longer blocking*/
    margin-top:-7px;
  }
  
  header {
    


    position: fixed; /*Make it come out of the flow, no longer blocking*/
    width: 1200px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

  }
  
  .mybutton {
    position: relative;
    padding: 10px 40px;
    /* margin-left: 70px; */
    font-size: 20px;
    display: inline-block;
  }
  
  .mybutton a {
    color: rgb(0, 0, 0);
    text-decoration: none; 
  }

  .mybutton a:hover{
    text-decoration: underline; 
  }
  