html, body{
  background-color: #33315D;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;

  /* width: 100%;
  height: 95vh; */
  /* overflow: hidden; */
  /* min-height: 100vh; */
}

#page-container {
  position: relative;
  /* height: 100vh; */
  min-height: 100%;
  /* background-color: red !important; */
}

.hide-normal {
  display: none !important;
}

/* contains the mission statement info to the left and the gallery to the right on screen sizes above 1300px width. otherwise gallery put above */
#home-container {
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  /* background-color: rebeccapurple; */
}

#home-info {
  margin-top: 2vh;
  /* background-color: rebeccapurple; */
  width: 50%;
}

#TRACheader{
  position: relative;
  /* width: 50%; */
}

#TRACheader h1{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5em;
  /* line-height: 65px;   */
  padding-left: 5vh;
  margin-top: 5vh;
  /* padding-top: 4vh; */
  /* padding: 0;
  margin: 0; */
}


#mission {
  /* background-color: rebeccapurple !important; */
  position: relative;
  margin-left: 3vw;
  /* width: 43%; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.22em;
  line-height: 2em;
  color: white;
  padding-top: 3vh;
  /* font-style: italic; */
}

#learnMoreContainer {
  position: relative;
  /* background-color: #423BCC; */
  background-color: #110F34;
  color: white;
  width: 16vw;
  height: 3em;
  left: 36%;
  margin-top: 5vh;
  /* margin: 0 auto; */
  /* left: 30.5vw; */
  /* margin-top: -5vh; */
/* top: 924px; */
  border-radius: 1em;
}

#learnMoreContainer h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  /* font-weight: lighter; */
  font-size: 1em;
  line-height: 2.9em;
  text-align: center;
  /* text-decoration: underline; */
}

#more-button {
  text-decoration: none;
}

#learnMoreContainer a {
    text-decoration: none !important;
}

#learnMoreContainer {
  transition: all 0.2s ease-in-out; /* Optional: Adds a smooth transition effect */
}

#learnMoreContainer:hover {
  transform: scale(1.1); /* Increases the size of the button */
  filter: brightness(105%); /* Darkens the color of the button */
}

#learnMoreContainer:active {
  transform: scale(0.9); /* Decreases the size of the button */
  filter: brightness(90%); /* Darkens the color of the button further */
}

#italics {
    font-style: italic !important;
}

#mission strong {
  font-size: 28px;

}

#missionLabel {
  position: absolute;
  margin-left: -45px;
  margin-top: 5px;
}

#galleryContainer {
  margin-top: 3vh;
  margin-right: 1.5vw;
  margin-left: 1vw;

}

#imageGallery {
  height: 50vh;
  width: 50vw;
  max-width: 800px;
  /* margin-left: auto; 
  margin-right: 3vh;
  margin-top: 3vh;
  margin-bottom: 3vh; */
}

#logo {
  position: relative;
  width: 12em;
  margin-right: 1.25vw; /* space between logo and nav buttons*/
  /* margin-left: -6vw; */
  /* padding-top: 15px; */

  /* padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-right: 10px; */
}

#socialmedia {
  position: absolute;
  float:right;
  top: 10px;
  right:60px;
  padding: 0px;
}

#socialmedia img{
  width: 1.85em;
  padding: 5px;
  z-index: 10000000000;
}

.header-container {
    background: #ffffff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    /* min-height: 50px; */
    /* margin-bottom: 40px; */
    /* Make header stick */
    width: 100%;
    z-index: 99999999999;
    position: relative; /*Make it come out of the flow, no longer blocking*/
    /* margin-top:20px; */
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: pink; */
      /* background: #EEEEEE; */

  }

  
header {
  position: relative; /*Make it come out of the flow, no longer blocking*/
  /* width: 100%; */
  height: 15vh;
  text-align: center;
}
  
.mybutton {
  position: relative;
  padding: 2vh 1.5vw;
  /* margin-left: 70px; */
  font-size: 1.22em;
  display: inline-block;
  /* background-color: green; */
  vertical-align: middle;
  color: black;
}

.mybutton a {
  color: rgb(0, 0, 0);
  text-decoration: none; 
}

.mybutton a:hover{
  text-decoration: underline; 
}
  


.footer-container {
  background-color: #101C31;
  min-height: 12vh;
  /* margin-top: 40px; */
  width: 100%;
  align-items: center; /*centers them vertically*/
  text-align: center;
  color: white;
  margin-top: 3vh;
  position: absolute;
  bottom: 0;
}

footer {
  min-height: 60px;
  margin-left: auto; 
  margin-right: auto; 
  width: 50%;
  padding-top: 1vh;
}

.soc {
  padding-right: 0.25em;
}

.pageContent {
  padding: 2em;
  padding-bottom: 0.5em;
  background-color: #33315D;
  text-align: center;
  color:black;
  
}

.innerWhiteBox {
  background-color: white;
  width: 60%;
  margin: auto;
  padding-bottom: 1.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.pageContent h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  /* line-height: 65px;   */
  /* padding-left: 5vh; */
  padding-top: 4vh;
  margin: auto;

}

.pageContent p {
  text-align: left;
  padding-top: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 2em;
  margin: auto;
  width: 80%;
}

/* #links {
  background-color: white;
  margin-left: -7em;
  padding-left: 4em;
  padding-top: 0.7vh;
  padding-bottom: 0.9vh;
} */




/*Small desktop no social media  View*/
@media (max-width: 1300px){
  body {
    /* background-color: red !important; */
  }

  #home-container {
    display: block;
    /* background-color: aquamarine !important; */
    justify-content: center;
  }

  #home-info {
    margin-top: 2vh;
    /* background-color: rebeccapurple; */
    width: 100%;
  }

  #galleryContainer {
    margin: 0 auto;
    justify-content: center;
    /* background-color: orange !important; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 5vh;
  }

  #imageGallery {
    height: 50vh;
    width: 100%;
  }

  /* Put the image gallery on top instead of to the right */
  .outer {
    display: flex !important;
    flex-direction: column !important;
  }
  .inner:nth-of-type(1) {
    order: 2 !important;
  }
  .inner:nth-of-type(2) {
    order: 1 !important;
  }

  #learnMoreContainer {
    position: relative;
    min-width: 30vw;
    height: 3em;
    left: 0;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}

/*Tablet View*/
@media (max-width: 768px){
  body {
    background-color: green !important;
  }
}

/*Mobile View*/
@media (max-width: 400px){
  body {
    background-color: pink !important;
  }
}

