#cert {
    display: none;
    justify-content: center;
    margin-top: 30px;
}

#top-button {
    justify-content: center;
    margin-top: 30px;
    display: none;
    text-align: center;
}

#more-info {
    display: none;
    text-align: center;
    margin-top: 10px;
}

#fellows-icon {
    margin-right: 10px;
    margin-bottom: 10px;
}

#completeButton {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#createCert {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.showPrepareButton {
    margin-top: 30px !important;
}

.tracNavy {
    background-color: #101C31 !important;
    color: white !important;
}

.tracIconBlue {
    color: #33315D !important;
}

.pageContent2 {
    padding: 2em;
    padding-bottom: 0.5em;
    background-color: #33315D;
    /* text-align: center; */
    color:black;
    margin-bottom: 3em;
}

.pageContent2 h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    /* line-height: 65px;   */
    /* padding-left: 5vh; */
    padding-top: 4vh;
    margin: auto;
    text-align: center;
}

.pageContent2 h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    /* line-height: 65px;   */
    /* padding-left: 5vh; */
    padding-top: 4vh;
    /* margin: auto; */
    text-align: center;
}

.pageContent2 p {
    text-align: left;
    padding-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    margin: auto;
    width: 80%;
}

.innerWhiteBox {
    /* background-color: #F5F8FA; */
}

/* fix certificate */
@media (max-width: 850px){
    #cert span {
        overflow: scroll !important;
        font-size: 150% !important;
        /* background-color: green !important; */
    }
    #cert div{
        width: 100% !important;
        overflow: hidden;
        /* background-color: red !important; */
    }

    #cert img{
        width: 80% !important;
        overflow: hidden;
    }
}

/* fix video when width less than 770px */
@media (max-width: 770px){
    #about-video {
        width: 100%;
    }

    #about-header {
        /* background-color: purple !important; */
        width: 100%;
        font-size: 200%;
    }
}

@media (max-width: 450px){
    .innerWhiteBox {
        background-color: #33315D;

        width: 115.8%;
        margin: 0;
        padding: 0;
        /* background-color: red !important; */
        margin-left: -30px;
    }

    .innerWhiteBox h1 {
        /* color: white; */
        margin-bottom: -40px;
        background-color: white;
    }

    .innerWhiteBox h2, p, #cert{
        background-color: white;
    }

    .pageContent2 {
        background-color: green !important;
        padding: 0;
        margin: 0;
        margin-bottom: 1.5em;
    }

    #about-header {
        /* background-color: purple !important; */
        width: 90%;
        font-size: 170%;
    }

    #completeContainer {
        background-color: white;
        padding: 20px;
    }

    #print-message {
        width: 100%;
        font-size: 100%;
        margin-top: 40px;
    }

    #about-header {
        margin-top: 40px;
        padding: 15px
    }
}

@media (max-width: 350px){
    .innerWhiteBox {
        width: 108.5%;
        margin-left: -30.5px;
    }
}