.showPrepareButton {
    margin-top: 30px !important;
}

.tracNavy {
    background-color: #101C31 !important;
    color: white !important;
}

.tracIconBlue {
    color: #33315D !important;
}

.pageContent2 {
    padding: 2em;
    padding-bottom: 0.5em;
    background-color: #33315D;
    /* text-align: center; */
    color:black;
    margin-bottom: 3em;
}

.pageContent2 h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    /* line-height: 65px;   */
    /* padding-left: 5vh; */
    padding-top: 4vh;
    margin: auto;
    text-align: center;
}

.pageContent2 p {
    text-align: left;
    padding-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    margin: auto;
    width: 80%;
}

.innerWhiteBox {
    /* background-color: #F5F8FA; */
}